body {
    background-image: url("oceaan.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.button {
    width: 10%;
}

.man {
    font-size: large;
    font-weight: bolder;
}

.visible {
    color: black;
} 

.invisible {
    color: transparent;
}

label{
    font-size: 2em;
    font-weight: bolder;
}

